#xrdb ~/.Xresources
export _JAVA_AWT_WM_NONREPARENTING=1
#docker run --rm -d -v ~/searx:/etc/searx -p 80:8080 -e BASE_URL=http://localhost:80/ searx/searx
#picom --experimental-backends --backend glx &
#feh --bg-fill ~/Pictures/1.png
xsetroot -cursor_name left_ptr
