URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.letterSpace: -1
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
Rxvt.perl-ext:
URxvt.perl-ext-common:

URxvt*font: xft:DejaVu Sans Mono:pixelsize=13
URxvt.cursorBlink: true
URxvt.saveline: 2048
URxvt.depth: 24
!URxvt.urgentOnBell: true

*scrollBar: false

*.foreground:   #cbcccf
*.background:   #0e0e0f
*.cursorColor:  #cbcccf
